<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Audio Guestbook</title>

    {% load static %}
    <link href="{% static 'css/style.css' %} " rel="stylesheet" />
    <link href="{% static 'css/toast.min.css' %} " rel="stylesheet" />
    <script src = "{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <script src = "{% static 'js/toast.min.js'%}"></script>
    <script src = "{% static 'js/upload.js'%}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="logo-content">
          <div class="container">
            <div id="logo">
              <a href="#"><h2>AUDIO GUESTBOOK</h2></a>
            </div>
            <ul class="legal-link">
              <li><a href="https://www.manula.com/manuals/the-photo-booth-guys/tonematic">User Guide</a></li>
            </ul>
          </div>
        </div>
        <div class="navbar">
          <div class="container">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/video/">Video Settings</a></li>
              <li><a id="serial_link" href="index.html"></a></li>
              <li><a id="updates_link" href="update.html"></a></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="page-holder">
        <main id="main" class="main">
          <section class="intro-block">
            <div class="container">
              
              <div class="intro alt">
                <h1>Messages</h1>
                <p>Listen to your messages, download them or delete them from your phone.</p>
                <div class="link-hold">
                  <a href="#" id="download_all_link"> Download All Messages</a>
                  <div class="input-hold">
                  </div>
                </div>
                </div>
                <div class="link-hold">
                  <a href="/" id="delete-messages"class="custom-file-upload"> Delete All Messages</a>
                  <div class="input-hold">
                  </div>
                </div>

                {% for messages in messages_list %}
                <audio controls>
                  <source src="{{ messages }}" type="audio/mp3">
                  Your browser does not support the audio element.
                </audio>
              {% endfor %}
              
              </div>
            </div>
          </section>
          
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
