<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Audio Guesbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% load static %}
    <link href="{% static 'css/style.css' %} " rel="stylesheet" />
    <link href="{% static 'css/toast.min.css' %} " rel="stylesheet" />

    <script src = "{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <script src = "{% static 'js/toast.min.js'%}"></script>
    <script src = "{% static 'js/upload.js'%}"></script>
    <script src = "{% static 'js/page.js'%}"></script>

  </head>
  <body>
    

       <div class="wrapper">
      <header class="header">
        <div class="logo-content">
          <div class="container">
            <div id="logo">
              <a href="#"> <h2>AUDIO GUESTBOOK </h2></a>
            </div>
             <ul class="legal-link">
              <li><a href="#">User Guide</a></li>
            </ul>
          </div>
        </div>
        <div class="navbar">
          <div class="container">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/messages/">Messages</a></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="page-holder">
        <main class="main">
<section class="intro-block">
            <div class="container">
              <div class="intro alt">
                <h1>Video Settings</h1>
                <p>Upload your cover photo, and choose a color for the WaveForm Animation. Then select the configuration you wish to use. Ensure that Video Processing is running.</p>
                <div class="input-hold">
                </div>
                <div class="link-hold">
                  {% block content %}
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div style="display: none;">
                      <label for="id_name">Name:</label>
                      <input type="text" id="id_name" name="name" value = "Current Background Photo"><br><br>
                    </div>
           <h1>Choose your new background</h1>
            <input type="file" id="file-upload" name="image" accept="image/*" title="Click to select an image" onchange="this.form.submit()">
            <label for="file-upload" class="custom-file-upload">Select Background</label>
                </form>
                {% endblock %}

                </div>
              </div>
            </div>
          </section>
          <section class="audio-section">
            <div class="hex-code-block">
              <div class="container">
                <div class="img">
                  <div class="lines">

                  </div>
                </div>
                <div class="info-text">
                  <img class="background-image"src="{{image.image.url}}" alt="Image description"/>
                  
                  <br><br>
                  <p>Select Color for Wave Form Animation</p>
                  <form method="post">
                    {% csrf_token %}
                    <input type="color" id="color" name="color" value="{{config.animation_color}}" style="border-radius: 10px; width: 200px; height: 40px; padding: 5px;"><br><br>
                    <button id="color-submit" type="submit" style = "display:none";>Submit</button>
                    <label for="color-submit" class="custom-file-upload">Apply Color</label>
                  </form>
                         
                </div>
              </div>
            </div>
            
            
          </section>
        </main>
      </div>
    </div>
    
  </body>
</html>
